-provide(:title, 'Play Game')
.container.game-screen.gap-md data-controller="game" data-game-id=@game.id data-game-user_id=current_user.id
  .flex.gap-md data-game-target="game_page"
    = render partial: 'games/games_show', locals: { game: @game, current_user: current_user } 

  