@mixin color-varieties {
  // Primary HSL
  --rm-color-primary-h: 234;
  --rm-color-primary-s: 32%;
  --rm-color-primary-l: 52%;
}
  

@mixin fonts {
  --rm-font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  @include color-varieties;

  @include fonts;

  --rm-card-padding: var(--rm-space-large);
}


/* footer */

// footer {
//   margin-top: 45px;
//   padding-top: 5px;
//   border-top: 1px solid #eaeaea;
//   color: #777;

//   a {
//     color: #555;
//   }

//   a:hover {
//     color: #222;
//   }

//   small {
//     float: left;
//   }

//   ul {
//     float: right;
//     list-style: none;

//     li {
//       float: left;
//       margin-left: 15px;
//     }
//   }
// }


// .debug_dump {
//   clear: both;
//   float: left;
//   width: 100%;
//   margin-top: 45px;
// }

// /* sidebar */

// aside {
//   section.user_info {
//     margin-top: 20px;
//   }
//   section {
//     padding: 10px 0;
//     margin-top: 20px;
//     &:first-child {
//       border: 0;
//       padding-top: 0;
//     }
//     span {
//       display: block;
//       margin-bottom: 3px;
//       line-height: 1;
//     }
//     h1 {
//       font-size: 1.4em;
//       text-align: left;
//       letter-spacing: -1px;
//       margin-bottom: 3px;
//       margin-top: 0px;
//     }
//   }
// }

// .gravatar {
//   float: left;
//   margin-right: 10px;
// }

// .gravatar_edit {
//   margin-top: 15px;
// }

// /* forms */

// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   width: 100%;
//   margin-bottom: 15px;
//   @include box_sizing;
// }

// input {
//   height: auto !important;
// }
// .error_explanation {
//   color: red;
//   ul {
//     color: red;
//     margin: 0 0 30px 0;
//   }
// }

// /* Dropdown menu */

// .dropdown-menu.active {
//   display: block;
// }
